#vbox{
    -fx-background-color: #313338;
    -fx-alignment: center;
}

.label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: #B5BAC1;
    -fx-alignment: top-left;
    -fx-pref-width: 250;
    -fx-padding: 10 0 5 0;
}

.text-field{
    -fx-font-size: 12;
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: #DBDEE1;
    -fx-pref-width: 250;
    -fx-background-color: #1E1F22;

}

.button{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: WHITE;
    -fx-pref-width: 250;
    -fx-background-color: #5865F2;

}

#lb_copyright{
    -fx-alignment: center;
    -fx-padding: 50 0 0 0;
}
